<section class="example-section">
  <mat-checkbox class="checkbox" disabled="true">Disable</mat-checkbox>
  <mat-checkbox class="checkbox" [(ngModel)]="disableChecked" disabled="true">Disable Checked</mat-checkbox>
  <mat-checkbox class="checkbox" [(ngModel)]="neutral">Neutral</mat-checkbox>

  <mat-radio-group aria-label="Select an option" class="radio-wrapper">
    <mat-radio-button value="1" disabled="true">Disable</mat-radio-button>
    <mat-radio-button value="2">Neutral</mat-radio-button>
    <mat-radio-button value="3">Neutral 2</mat-radio-button>
  </mat-radio-group>

  <mat-radio-group aria-label="Select an option" class="radio-wrapper">
    <mat-radio-button value="1" disabled="true" checked="true">Disable Checked</mat-radio-button>
  </mat-radio-group>
</section>
