.example-section {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.radio-wrapper {
  display: flex;
  flex-direction: column;
  margin-top: 30px;

  mat-radio-button + mat-radio-button {
    margin-top: 10px;
  }
}

.checkbox {
  margin-top: 20px;
}
