/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/theming";
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.mat-checkbox-checked.mat-accent.mat-checkbox-disabled .mat-checkbox-background {
  background-color: rgba(51, 75, 250, 0.5);
}

.mat-checkbox-checked.mat-accent.mat-checkbox-disabled .mat-checkbox-frame {
  background-color: rgba(24, 24, 24, 0.1) !important;
  border-color: transparent;
}

.mat-checkbox-checked.mat-accent.mat-checkbox-disabled:hover .mat-checkbox-frame {
  border-color: transparent;
}

.mat-checkbox-checked.mat-accent .mat-checkbox-background {
  background-color: #334BFA;
  border-radius: 6px;
}

.mat-checkbox-ripple .mat-ripple-element {
  display: none;
}

.mat-checkbox:hover .mat-checkbox-frame {
  background-color: rgba(51, 75, 250, 0.2);
  border-color: #334BFA;
}

.mat-checkbox.mat-checkbox-disabled:hover .mat-checkbox-frame {
  background-color: transparent;
  border-color: #b0b0b0;
}

.mat-checkbox .mat-checkbox-frame {
  border-color: rgba(24, 24, 24, 0.5);
  border-radius: 6px;
}

.mat-checkbox .mat-checkbox-inner-container {
  // height: 32px;
  // width: 32px;
}

// Mat Radio
.mat-radio-button.mat-accent:not(.mat-radio-disabled):hover .mat-radio-outer-circle {
  background-color: rgba(51, 75, 250, 0.2);
  border-color: #334BFA;
}

.mat-radio-button.mat-accent .mat-radio-inner-circle {
  background-color: transparent;
}

.mat-radio-button.mat-accent .mat-ripple {
  display: none;
}

.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
  border-color: #334BFA;
  border-width: 5px;
}

.mat-radio-button.mat-accent.mat-radio-checked.mat-radio-disabled .mat-radio-outer-circle {
  border-color: rgba(51, 75, 250, 0.5);
}


.mat-radio-button.mat-accent:not(.mat-radio-checked).mat-radio-disabled .mat-radio-outer-circle {
  background-color: rgba(24, 24, 24, 0.1);
}
